<ion-view style="" class=" " id="page3" title="Category">
    <ion-content class="has-header" padding="false">
        <div class="">
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/wPtiAzZVT9qVXirqvO1R_gp.jpg" height="auto" width="100%">
        </div>
        <div class="row">
        <div class="col">
			<a class=" button button-calm button-small button-block " style="border-radius:30px 30px 30px 30px;" id="category-button2" ui-sref="tabsController.historicalPlaces">Historical</a>
			<a class=" button button-calm button-small button-block " style="border-radius:30px 30px 30px 30px;" id="category-button3" ui-sref="tabsController.wildLife">Hotels</a>
			<a class=" button button-calm button-small button-block " style="border-radius:30px 30px 30px 30px;" id="category-button4" ui-sref="tabsController.city">City</a>
			<a class=" button button-calm button-small button-block " style="border-radius:30px 30px 30px 30px;" id="category-button10" ui-sref="tabsController.camping">Camping</a>
			<a class=" button button-calm button-small button-block " style="border-radius:30px 30px 30px 30px;" id="category-button11" ui-sref="tabsController.Food&Beverage">Food & Beverage</a>
        </div>
        <div class="col">
			<a class=" button button-calm button-small button-block " style="border-radius:30px 30px 30px 30px;" id="category-button12" ui-sref="tabsController.beach">Beach</a>
			<a class=" button button-calm button-small button-block " style="border-radius:30px 30px 30px 30px;" id="category-button13" ui-sref="tabsController.adventure">Adventure</a>
			<a class=" button button-calm button-small button-block " style="border-radius:30px 30px 30px 30px;" id="category-button7" ui-sref="tabsController.sightseeing1">Sightseen</a>
			<a class=" button button-calm button-small button-block " style="border-radius:30px 30px 30px 30px;" id="category-button6" ui-sref="tabsController.Waterfalls">Waterfalls</a>
			<a class=" button button-calm button-small button-block " style="border-radius:30px 30px 30px 30px;" id="category-button4" ui-sref="tabsController.Climate">Climate</a>
			
		</div>
		</div>
		 
    </ion-content>
    
</ion-view>
