<ion-view style="" class=" " id="page30" title="login">	
 <ion-content padding="true">
	   <div>
		  <br>
		  <br>
		  <br>
          <label id="smallSearch" class="item item-input" style="border-radius:30px 30px 30px 30px;">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <br>
          <label  id="smallSearch" class="item item-input" style="border-radius:30px 30px 30px 30px;">
              <input  type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
	<div class="row">
        <div class="col">
			<button class=" button button-calm button-small button-block " style="border-radius:30px 30px 30px 30px;"  ng-click="login()">Login</button>
		</div>
		<div class="col">
			<button class=" button button-calm button-small button-block " style="border-radius:30px 30px 30px 30px;"  >Signin</button>
		</div>
	</div>
</ion-content>
</ion-view>


