<ion-view style="" class=" " id="page1" title="Tabs Controller">
    <ion-tabs style="" id="tabsController-tabs1" class="tabs-stable tabs-icon-top ">
        <ion-tab class=" " id="tabsController-tab1" title="Home" icon="ion-ios-home-outline" href="#/page1/page2">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab class=" " id="tabsController-tab2" title="Category" icon="ion-ios-grid-view-outline"  ui-sref="tabsController.category">

            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab class=" " id="tabsController-tab3" title="User " icon="ion-android-person" href="#/page1/page4">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>